baseURL = '/'
languageCode = 'en-us'
title = 'Otto Compositor Documentation'

staticDir = ["assets"]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    endLevel = 3
    startLevel = 2
